<div ng-controller="GalleryController">
	<!--<div ng-swipe-right="SwipeRight()">
		<img src="/Content/Image/rl4ib.png" />
	</div>-->

	<!--<div carousel interval="3000">
		<div slide ng-repeat="item in Slides" active="item.active">
			<img src="/Content/Image/rl4ib.png" style="margin: auto;">
		</div>
	</div>-->

	<!--<div class="carousel">
		<h1>asdasds</h1>
		<div class="carousel-inner">
			<div class="carousel-item"
				 style='background-image: url(/Content/Image/rl4ib.png);'>
			</div>
			<div class="carousel-item"
				 style='background-image: url(/Content/Image/rl4ib.png);'>
			</div>
			<div class="carousel-item"
				 style='background-image: url(/Content/Image/rl4ib.png);'>
			</div>
		</div>
	</div>-->

	<uib-carousel interval="5000">
		<uib-slide>
			<img src="/Content/Image/rl4ib.png" style="margin: auto;">
		</uib-slide>
		<uib-slide>
			<img src="/Content/Image/rl4ib.png" style="margin: auto;">
		</uib-slide>
		<uib-slide>
			<img src="/Content/Image/rl4ib.png" style="margin: auto;">
		</uib-slide>
	</uib-carousel>

	<div ng-swipe-left="SwipeLeft()">
		<h2>Image title</h2>
		<img src="/Content/Image/rl4ib.png" style="margin: auto;">
	</div>
</div>
