<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Home</title>
	@Scripts.Render("~/bundle/scripts/external")
	@Scripts.Render("~/bundle/scripts/web")
</head>
<body>
	<div>
	</div>
</body>
</html>
